<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="AlmacenWSPortBinding" />
                        <binding name="GestPersonasWSPortBinding" />
                        <binding name="VentasWSPortBinding" />
                        <binding name="MenuWSPortBinding" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:8080/LP2RestWebServices/AlmacenWS"
                        binding="basicHttpBinding" bindingConfiguration="AlmacenWSPortBinding"
                        contract="AlmacenWS.AlmacenWS" name="AlmacenWSPort" />
                <endpoint address="http://localhost:8080/LP2RestWebServices/GestPersonasWS"
                        binding="basicHttpBinding" bindingConfiguration="GestPersonasWSPortBinding"
                        contract="GestPersonasWS.GestPersonasWS" name="GestPersonasWSPort" />
                <endpoint address="http://localhost:8080/LP2RestWebServices/VentasWS"
                        binding="basicHttpBinding" bindingConfiguration="VentasWSPortBinding"
                        contract="VentasWS.VentasWS" name="VentasWSPort" />
                <endpoint address="http://localhost:8080/LP2RestWebServices/MenuWS"
                        binding="basicHttpBinding" bindingConfiguration="MenuWSPortBinding"
                        contract="MenuWS.MenuWS" name="MenuWSPort" />
        </client>
    </system.serviceModel>
</configuration>